/* 
"Roboto", sans-serif;
"Iosevka Charon", monospace;
*/

@import url("https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --navbar-yellow: #fff7e0f0;
  --dark-navbar-transparent: #ce8a3610;

  --background-yellow: #fff6de;

  --light-yellow: #fdfbd4;
  --mid-tone-yellow: #d4af37;
  --mid-tone-orange: #ce8936;

  --secondary-text-dark: #534522;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-yellow);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  margin-top: 70px;
  display: grid;
  place-items: center;
}
